/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2016, 6:56:49 PM
    Author     : madec
*/
html{
    height: 100%;
    width: 100%;
    border-style:solid;
    border: 30px;
    
    border-color:red;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    border-style:solid;
    border: 30px;
    border-color:red;
}


#updown {
    float: left;
    width: 50%;
    height: 100%;
}

#rightleft{
    float: left;
    width: 50%;
    height: 100%;
}

#up,#down{
    float: left;
    width: 100%;
    height: 50%;
}

#left,#right{
    float: left;
    width: 50%;
    height: 100%;
}
#myCanvas{
    width: 100%;
    height: 100%;
    border-style:solid;
    border: 30px;
    
    border-color:red;
    
}

